body
  background-color: ghostwhite
  margin: 0
  .subtitle
    color: darkorange
    font-size: 55px
    font-weight: bold
    margin: 10px
    text-align: center
    text-shadow: 3px 3px 1px $shade
  .row
    display: flex
    flex-wrap: wrap
    margin: 10px 0
  .fa-star
    color: gold
  a
    color: black
    text-decoration: none
