#admin-comp
  #container
    display: flex
    flex-wrap: wrap
    justify-content: center
    form
      background-color: $shade
      border: 1px solid forestgreen
      border-radius: 8px
      margin: 25px
      padding: 20px
      h1
        margin: 0
      label, input, button
        flex-grow: 1
      label
        font-size: 20px
        margin-left: 8px
      input
        border-radius: 4px
        font-size: 16px
        margin-right: 8px
        vertical-align: top
      #add-review-synopsis
        height: 100px
      #add-review-full
        height: 200px
      #add-review-submit
        color: forestgreen
        border: 1px solid forestgreen
        border-radius: 4px
        font-size: 22px