#nav-comp
  nav
    text-align: center
    ul
      list-style: none
      margin: 0
      padding-left: 0
      li
        display: inline-block
        font-family: $livvic
        padding: 10px 20px
        font-size: 20px
        a
          transition: color 0.2s
          &:hover
            color: gold
            span
              max-width: 50px
              opacity: 1
          span
            color: gold
            max-width: 0
            opacity: 0
            transition: max-width 0.2s, opacity 0.2s
