#read-comp
  .subtitle
    color: darkorange
    font-size: 65px
    text-transform: capitalize
  #rating
    color: gold
    font-size: 35px
    text-shadow: none
  p
    border-left: 2px solid forestgreen
    border-right: 2px solid forestgreen
    font-size: 20px
    margin: 0 10% 30px 10%
    padding: 0 10px
    width: 80%