#rev-comp
  #container
    display: flex
    justify-content: center
    h4
      color: crimson
      position: absolute
      right: 40px
    .filters
      border-bottom: 1px solid crimson
      border-top: 1px solid crimson
      left: 40px
      padding: 5px
      position: absolute
      text-align: right
      span
        color: black
        font-size: 18px
        width: 100%
        &:hover
          cursor: pointer
    section
      margin: 0px 12px
      max-width: 1152px
      padding: 10px
      text-align: center
      &.content
        flex-grow: 4
        padding: 0 20px 20px 20px
        position: relative
        .controls
          display: flex
          justify-content: center
          input
            border-radius: 5px
            font-size: 16px
            height: 30px
            margin: 20px 0
            &[name="searchbar"]
              flex-grow: 4
        .reviews
          .review
            background-color: $shade
            border-bottom: 1px solid gold
            border-radius: 8px
            border-top: 1px solid gold
            padding: 3px 0
            position: relative
            &:hover
              background-color: darken($shade, 20%)
            h1
              margin: 0
